.servicess {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.servicess__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.servicess__container a {
    text-decoration: none;
}

.servicess h2 {
    font-family: "Cairo";
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}

.service_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.service_card_img img {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.service_card_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

.service_card_text h3 {
    font-family: "Cairo";
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--title-color);
}

@media (max-width: 576px) {
    .servicess__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        gap: 1rem;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .service_card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
    }
    .service_card_img img {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .service_card_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2rem;
    }
    .service_card_text h3 {
        font-family: "Cairo";
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
        text-align: center;
        color: var(--title-color);
    }
}