.main_img {
    width: 100vw;
    height: 50%;
    position: relative;
}

.main_img img {
    width: 100vw;
    height: 70vh;
    object-fit: cover;
    object-position: 50% 30%;
}

.img_buttons {
    position: absolute;
    z-index: 99;
    top: 70%;
    font-family: "Cairo";
    left: 50%;
    padding: 1rem;
    display: flex;
    gap: 0.5rem;
    
}

.img_buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    width: 15rem;
    height: 4rem;
    cursor: pointer;
    border-radius: 2rem;
    margin-left: 1rem;
    font-family: "Cairo";
}

.img_buttons button h1 {
    margin-top: 1rem;
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.phonenummer h1 {
    font-family: "Cairo";
    display: flex;
    margin-bottom: 1rem;

}


.single-card {
    box-shadow: var(--shadow-1);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 30px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.single-card:hover {
    box-shadow: var(--shadow-4);
}

.single-card .card-image img {
    width: 100%;
    height: 100%;
    margin-top: 3rem;
    border-radius: 0;
}

.single-card .card-content {
    padding: 16px;
}

.single-card .card-content .card-title {
    margin-bottom: 0;
}

.single-card .card-content .card-title a {
    color: var(--black);
    transition: all 0.3s ease-out 0s;
}

.single-card .card-content .card-title a:hover {
    color: var(--primary);
}

.single-card .card-content .text {
    color: var(--text-color);
    margin-top: 8px;
    font-size: 0.9rem;
}
.card-content h1{
    font-family: "Cairo";
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;

}

.main__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.main__buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    width: 15rem;
    height: 4rem;
    cursor: pointer;
    border-radius: 2rem;
    margin-left: 1rem;
    font-family: "Cairo";
}

.main__buttons button h1 {
    margin-top: 1rem;
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

@media (max-width: 576px) {

    .main__buttons button {
        width: 10rem;
        height: 4rem;
    }
    .main__buttons button h1 {
        margin-top: 1rem;
        margin-left: 0.5rem;
        font-size: 1.1rem;
    }
    .main_img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin-top: 6rem;
    }

    .img_buttons {
        display: none;
    }
    
}