.brands{
    display: flex;
    flex-direction: column;
    height: 130vh;
    width: 100%;

}

.brands__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem 4rem;

}

.brands__container a {
    text-decoration: none;
}

.brand_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease-out 0s;
    min-height: 50vh;
}

.brand_card_img {
    width: 100%;
    height: 100%;

    border-radius: 0;
}

.brand_card_img img {
    width: 100%;
    height: 100%;
    border-radius: 0;
    object-fit: contain;
}

.brand_card_text h3 {
    font-family: "Cairo";
    color: var(--title-color);
}



@media (max-width: 576px) {
    .brands{
        display: flex;
        flex-direction: column;
        height: 85vh;
        width: 100%;    
    }
    
    .brands__container {
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
    }
    .brand_card {
        min-height: 20vh;
    }
}