.whatsappIcon{
    position: fixed;
    bottom: 3rem;
    left: 2rem;
    border-radius: 4rem;
    background-color: #25d366;
    color: #fff;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 2s cubic-bezier(0.16, 1, 0.3, 1 );
    z-index: 9999999;
    padding: 0.9rem 0.0rem;
}

.whatsappIcon a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
}


.whatsappIcon:hover {
    transform: translateY(-2px);
    background-color: #128c7e;
    transition: all 2s cubic-bezier(0.16, 1, 0.3, 1 );
}

.home__scroll-up  {
    font-size: 1rem;
    font-weight: bolder;

}

