.rtl-navbar .navbar-nav {
    display: flex;
    direction: rtl;
    gap: 1rem;
    font-family: "Cairo";
    font-size: 1rem;
}

.nav {
    position: fixed;
    background: rgba(255, 255, 255, 0.72);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 8vh;
    z-index: 999999;
}

.rtl {
    margin-top: 2rem;
    font-family: "Cairo";
    font-size: 3.5rem;
    direction: rtl;
    text-align: right;
    font-weight: 900;
    padding-right: 2rem;
}

.rtl-text {
    font-family: "Cairo";
    font-size: 1.5rem;
    direction: rtl;
    text-align: right;
    font-weight: 700;
}

.rtl-navbar {
    position: fixed;
    width: 100%;
    height: 8vh;
}

.rtl-navbar img {
    width: 10rem;
    height: 3rem;
    margin-right: 1rem;
}

.rtl-navbar .dropdown-menu {
    background-color: #f8f9fa;
    padding: 0.5rem;
}

/* Style the hamburger menu button */
.rtl-navbar .navbar-toggler-icon {
    width: 30px;
    height: 30px;
}

/* Center the hamburger menu button */
.rtl-navbar .navbar-toggler {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 576px) {

    .rtl-navbar .navbar-nav {
        background-color: #fff;
        padding: 1rem;
        margin-top: 3rem;
        width: 90vw;
    }

    .rtl-navbar .navbar-brand {
        margin-right: 0;
        margin-left: auto;
    }

    .rtl-navbar .navbar-nav {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-family: "Cairo";
        font-size: 1rem;
    }

    .rtl {
        margin-top: 2rem;
        font-family: "Cairo";
        font-size: 3.5rem;
        direction: rtl;
        text-align: right;
        font-weight: 700;
    }

    .rtl-text {
        font-family: "Cairo";
        font-size: 1.5rem;
        direction: rtl;
        text-align: right;
        font-weight: 700;
    }



    .rtl-navbar img {
        width: 10rem;
        height: 3rem;
        margin-right: 1rem;
    }

    .rtl-navbar .navbar-brand {
        margin-right: 1rem;
        margin-left: 0;
        font-family: "Cairo";
    }
}