.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    color: var(--title-color);
    font-family: "Satoshi-Bold", sans-serif;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    border-top: 0.5px solid var(--border-text-color);
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.footer__logo h1 {
    font-size: 2rem;
    font-weight: var(--font-bold);
    margin-left: 2rem;
    color: var(--title-color);
}


.footer__credits p {
    font-size: 0.95rem;
    font-weight: var(--font-medium);
    margin-left: 2rem;
    color: var(--title-color);
}

.footer__credits span {
    font-size: 0.8rem;
    font-weight: var(--font-medium);
    margin-left: 2rem;
    color: var(--title-color);
}

