.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.services__container {
    display: flex;
    gap: 1rem;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-direction: column;
}

.container__upper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}

.container__upper__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.container__upper__left img {
    width: 80%;
    height: 70%;
    margin-top: 3rem;
    border-radius: 0;
}

.container__upper__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 60%;
    height: 90vh;
    gap: 2rem;
    text-align: right;
    padding-right: 0.56rem;
}

.container__upper__right h1 {
    font-family: "Cairo";
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.container__upper__right h4 {
    font-family: "Cairo";
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    margin-bottom: 1rem;
    color: var(--text-color);
    width: 80%;
}

.container__upper_lower {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    flex-direction: column;

}

.container__bottom_upper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.bottom__upper_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.bottom__upper_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 60%;
    gap: 2rem;
    text-align: center;
    padding-right: 0.56rem;
}

.upper__left_upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upper__left_upper img {
    width: 100%;
    height: 90%;
    margin-top: 3rem;
    border-radius: 0;
}

.left__upper_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    text-align: center;
    padding-right: 0.56rem;
    padding-top: 1rem;
}

.left__upper_text h1 {
    font-family: "Cairo";
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.left__upper_text p {
    font-family: "Cairo";
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    color: var(--title-color);
    width: 80%;
}

.right__upper_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    text-align: center;
    padding-right: 0.56rem;
    padding-top: 1rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.right__upper_text h1 {
    font-family: "Cairo";
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.right__upper_text p {
    font-family: "Cairo";
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    color: var(--title-color);
    width: 80%;
}


.container__bottom_lower {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    gap: 2rem;
    flex-direction: column;
}

.container__bottom_lower p {
    font-family: "Cairo";
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    color: var(--title-color);
    width: 80%;
    text-align: right;
}

.bottom__lower_right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 60%;
    gap: 2rem;
    text-align: center;
    padding-right: 0.56rem;
    padding-top: 1rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
    flex-direction: row-reverse;
}

.lower__right_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.lower__right_left ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    text-align: center;
    padding-right: 0.56rem;
    padding-top: 1rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.lower__right_left ul li {
    font-family: "Cairo";
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    color: var(--title-color);
    width: 20vw;
    text-align: right;
    display: flex;
    gap: 0.2rem;
    align-items: center;
    flex-direction: row-reverse;
}

@media (max-width: 556px) {
    .container__upper{
        flex-direction: column;
    }
    .container__upper__left{
        width: 100%;
    }
    .container__bottom_upper {
        flex-direction: column;
    }
    .bottom__upper_left{
        width: 100%;
    }
    .bottom__upper_right{
        width: 100%;
    }
    .container__bottom_lower{
        flex-direction: column;
    }
    .bottom__lower_right{
        flex-direction: column;
        width: 100%;
    }
    .lower__right_left{
        width: 100%;
    }
    .lower__right_left ul li{
        width: 100%;
    }
    .container__upper_lower{
        width: 100%;
    }
    .container__upper_lower h1{
        width: 100%;
    }

}